---
layout: default
class: 'events'
---
<header class="title-header events">
  
    <div class="header-content">
      <h1><span>Eventi<strong> Plastici</strong></span></h1>
      <p class="emph">In CodicePlastico siamo convinti che la formazione e condivisione della conoscenza siano due facce della stessa medaglia. Per questo siamo sempre entusiasti di portare i nostrieventi organizzati dalle community IT italiane.</p>
    </div>
   
  </header>

<main id="site-main" class="site-main outer events" role="main">
 

  <article class="events ">
      
       {% assign next_events = site.events | where_exp:"event", "event.event-date-start >= site.time"  %}
       {% if next_events.size  > 0  %} 
           <section class="event events-list future">
                <h1 class="section-title">I prossimi eventi in programma</h1>
                <div class="post-feed">
                  {% for event in next_events %}
                      {%  include event-card.html %}
                  {% endfor %}
                </div>
      </section>
       {% endif %}
   
      {% assign past_events = site.events | where_exp:"event", "event.event-date-start < site.time" | sort: "event-date-start" | reverse %}

        <section class="event events-list past">
          <h1 class="section-title">Gli ultimi materiali, slide e video degli eventi passati</h1>
             <div class="post-feed">
               {% for event in past_events limit:12 %}
                   {%  include event-card.html %}
               {% endfor %}
               <article class="event-card event-card--fake"></article>
               <article class="event-card event-card--fake"></article>
               <article class="event-card event-card--fake"></article>
             </div>
       </section>
     
       <p class="event-link-archive"><a href="archive-events.html">Tutti i talk di CodicePlastico</a></p>
  </article>
</main>


 









     