


    <article class="post-card {{ page.class }}{% unless post.cover %} no-image{% endunless %}">
        {% if post.cover %}
        <a class="post-image-link" href="{{ post.url | relative_url }}"> 
            <figure class="post-image"  style="background-image: url({{ post.cover | relative_url}})">
            </figure>
        </a>
        {% endif %}

        <div class="post-card-content">
            {% if post.categories.size > 0 %}
            <section class="post-tag">
                {% for current-category in post.categories %}
                {% assign category = site.categories | where: 'short_name', current-category | first %}
                <a href="{{ category.url }}">{{ category.name }}</a>
                {% if forloop.last == false %}, {% endif %} 
               
                {% endfor %}
            </section>
            {% endif %}
            <h1 class="post-title">
                <a href="{{ post.url | relative_url }}"> {{ post.title }}</a>
            </h1>
            <section class="post-excerpt">
                {% if post.excerpt %}
                    <p>{{ post.excerpt | strip_html | truncatewords: 30, "" }} ...</p>
                {% else %}
                    <p>{{ post.content | strip_html | truncatewords: 30, "" }} ...</p>
                {% endif %}
            </section>
            
           
        </div>
       
       
        {% if post.author.size > 0 %}
        <div class="authors">
        {% for current-author in post.author %}
        <footer class="post-author">
            {% assign author = site.authors | where: 'short_name', current-author | first %}
            {% if author %}
            
                {% if author.picture %}
                    <img class="post-author-image" src="{{ author.picture | relative_url }}" alt="{{ author.name }}" />
                {% endif %}
                <span class="post-author-name">
                    <a href="{{ author.url | relative_url }}">{{ author.name }}</a> 
                </span>
                
            {% endif %}










          





        </footer>
     
        {% endfor %}
    </div>
    {% endif %}
  
    </article>



