@import "res/resethtml"; 
@import "res/mediaquery";
@import "res/colorset";
@import "res/typography";
@import "res/grid";
@import "res/lightbox";
@import "res/form";
@import "plugin/rouge";


/*Struct*/
.content{
width: 100%;

max-width: 1400px; 
margin: 0 auto; 
    img{
        max-width: 100%;
    }
}

@import "partials/header";
@import "partials/footer"; 
@import "partials/post";
@import "partials/post-feed";
@import "partials/authors";
@import "partials/mailchimp";
@import "partials/categories";
@import "partials/events";
nav.pagination{
    text-align: center;
    font-variant: small-caps;
    margin: 2em;
    a{ color: $main-color; text-decoration: underline; font-variant: none; font-size: 0.8em; padding: 0 0.8em;}
}

#cookies-eu-banner{
    background: $main-color;
    color: $main-light;
    text-align: center;
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 2em;
    button{
        background: $main-light; color: $main-color; text-transform: uppercase; border-radius: 3px;  border: 1px solid $main-light; 
        padding: 0.3em;
    }
}