@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none; }

code, kbd, samp, pre, tt, var, textarea, input, select, isindex {
  font: inherit;
  font-size: 1em; }

dfn, i, cite, var, address, em {
  font-style: normal; }

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td, center {
  text-align: left;
  vertical-align: top; }

q {
  quotes: "" ""; }

ul, ol {
  list-style: none; }

sub, sup {
  vertical-align: baseline; }

a {
  color: inherit; }

hr {
  display: none; }

/* we don't need a visual hr in layout */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important; }

/* disables some nasty font attributes in standard browsers */
/* MAIN TYPOGRAPHY */
strong, th, thead td, h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

cite, em, dfn {
  font-style: italic; }

code, kbd, samp, pre, tt, var {
  font-size: 90%;
  font-family: monaco, "Lucida Console", courier, mono-space; }

del {
  text-decoration: line-through;
  color: #666; }

ins, dfn {
  border-bottom: 1px solid #ccc; }

small, sup, sub {
  font-size: 85%; }

abbr, acronym {
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: .1em; }

a abbr, a acronym {
  border: none; }

abbr[title], acronym[title], dfn[title] {
  cursor: help;
  border-bottom: 1px solid #ccc; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

article, footer {
  margin: 0;
  padding: 0; }

/*end RESET*/
/* helper
.main-header{ border-top: 3px solid back; }
@media only screen and (min-width:  480px){  .main-header{ border-top: 3px solid lightseagreen; }}
@media only screen and (min-width:  768px){  .main-header{ border-top: 3px solid red; }}
@media only screen and (min-width:  992px){   .main-header{ border-top: 3px solid green; }}
@media only screen and (min-width: 1200px){   .main-header{ border-top: 3px solid yellow; }}
@media only screen and (min-width: 1600px){   .main-header{ border-top: 3px solid magenta; }} 
*/
/*colorset*/
/*typography vars*/
body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
  color: #000; }

h1 {
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.3em;
  font-size: 2em;
  font-family: "Barlow Condensed", sans-serif; }
  h1 a {
    color: #000;
    text-decoration: none; }

h2 {
  margin-bottom: 0.2em;
  line-height: 1.3em;
  font-size: 1.7em;
  font-family: "Barlow Condensed", sans-serif; }

h3 {
  margin-bottom: 0.2em;
  line-height: 1.3em;
  font-size: 1.5em;
  font-weight: lighter;
  color: #D93232;
  font-family: "Barlow Condensed", sans-serif; }

h4 {
  margin-bottom: 0.5em;
  line-height: 1.1em;
  font-size: 1.3em;
  font-weight: 600; }

h5 {
  font-size: 12px;
  font-weight: 600; }

hr {
  display: block;
  border: 0;
  border-bottom: 1px solid #232323;
  margin-bottom: 0.8em; }

img {
  display: inline-block; }

figure {
  margin: 1em 0; }
  figure figcaption {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0.5em; }

strong {
  font-weight: 600; }
  strong.emph {
    font-weight: 600;
    color: #D93232; }

em {
  font-style: italic;
  font-weight: 300 !important; }

p, li, address {
  font-size: 1.1em;
  line-height: 1.45em; }
  @media only screen and (min-width: 480px) {
    p, li, address {
      font-size: 1em;
      line-height: 1.45em; } }

p.emph {
  font-size: 1.7em;
  line-height: 1.2em; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

p, ul, ol, address {
  margin-bottom: 0.5em; }

ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 0.3em; }

ul li {
  list-style-type: circle;
  margin-left: 1.5em;
  margin-bottom: 0.3em; }

blockquote {
  margin-left: 2em;
  font-size: 1.8em;
  line-height: 1.5em;
  font-style: italic;
  color: #333333; }

/*
  pre {
    display: block;
    padding:0.5em;
    margin:  2em 0;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 4px;
  
}
code, pre {
    font-family: Monaco, Menlo, Consolas, "Courier- New", monospace;
}
pre {
    white-space: pre-wrap;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}*/
cite {
  display: block;
  position: relative;
  margin: 1em;
  font-style: normal;
  font-weight: 300;
  font-size: 1.7em;
  color: #4d4d4d;
  line-height: 1.1em;
  padding-right: 1em; }
  cite:before {
    content: "“";
    margin-left: -1em;
    top: 0;
    left: 0; }
  cite:after {
    content: "„";
    bottom: 0;
    right: 0; }
  cite:before, cite:after {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #D93232;
    font-size: 1.8em;
    font-weight: bold;
    position: absolute; }

div.emphasis {
  padding: 1.5em;
  margin: 2em 0;
  background: #fdf4f4; }
  div.emphasis h4 {
    font-weight: 300;
    color: #D93232;
    text-transform: uppercase; }

.responsive-iframe-container-16 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */ }

.responsive-iframe-container-4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; }

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  min-width: 100%;
  width: 100%;
  margin: 10px 0; }

@media only screen and (min-width: 768px) {
  .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    margin: 10px;
    padding: 10px; }

  .col-1 {
    max-width: calc(100% / 12); }

  .col-2 {
    max-width: calc(100% / 12 * 2); }

  .col-3 {
    max-width: calc(100% / 12 * 3); }

  .col-4 {
    max-width: calc(100% / 12 * 4); }

  .col-5 {
    max-width: calc(100% / 12 * 5); }

  .col-6 {
    max-width: calc(100% / 2); } }
#lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999999;
  line-height: 0;
  cursor: pointer;
  display: none; }

#lightbox .img {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%; }

#lightbox .img img {
  opacity: 0;
  pointer-events: none;
  width: auto; }

@media screen and (min-width: 1200px) {
  #lightbox .img {
    max-width: 1200px; } }
@media screen and (min-height: 1200px) {
  #lightbox .img {
    max-height: 1200px; } }
#lightbox span {
  display: block;
  position: fixed;
  bottom: 13px;
  height: 1.5em;
  line-height: 1.4em;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#lightbox span {
  display: none; }

#lightbox .videoWrapperContainer {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 900px;
  max-height: 100%; }

#lightbox .videoWrapperContainer .videoWrapper {
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 56.333%;
  /* custom */
  background: black; }

#lightbox .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block; }

#lightbox #prev, #lightbox #next {
  height: 50px;
  line-height: 36px;
  display: none;
  margin-top: -25px;
  position: fixed;
  top: 50%;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  z-index: 99;
  color: white;
  font-size: 60px; }

#lightbox.gallery #prev, #lightbox.gallery #next {
  display: block; }

#lightbox #prev {
  left: 0; }

#lightbox #next {
  right: 0; }

#lightbox #close {
  height: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer;
  text-decoration: none;
  z-index: 99;
  right: 0;
  top: 0; }

#lightbox #close:after, #lightbox #close:before {
  position: absolute;
  margin-top: 22px;
  margin-left: 14px;
  content: "";
  height: 3px;
  background: white;
  width: 23px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg); }

#lightbox #close:after {
  /* Safari */
  -webkit-transform: rotate(45deg);
  /* Firefox */
  -moz-transform: rotate(45deg);
  /* IE */
  -ms-transform: rotate(45deg);
  /* Opera */
  -o-transform: rotate(45deg); }

#lightbox, #lightbox * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="textarea"] {
  padding: 0.8em;
  background: none;
  border: 1px solid #000; }

input[type="submit"],
a.button,
button {
  padding: 0.8em;
  background: #D93232;
  color: #FFF;
  text-transform: uppercase;
  border: 0;
  cursor: pointer; }

a.button {
  display: block;
  text-decoration: none; }
  a.button:hover {
    background-color: #b62222; }

input[type=checkbox].checkbox-custom + label {
  display: block;
  margin: 0.2em;
  cursor: pointer; }

input[type=checkbox].checkbox-custom {
  display: none; }

input[type=checkbox].checkbox-custom + label:before {
  content: "\2714";
  border: 1px solid #000;
  display: inline-block;
  width: 1.1em;
  height: 0.8em;
  padding-left: 0.3em;
  padding-bottom: 0.6em;
  margin-right: 0.4em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s; }

input[type=checkbox].checkbox-custom + label:active:before {
  transform: scale(0); }

input[type=checkbox].checkbox-custom:checked + label:before {
  background-color: #000;
  border-color: #000;
  color: #fff; }

input[type=checkbox].checkbox-custom:disabled + label:before {
  transform: scale(1);
  border-color: #aaa; }

input[type=checkbox].checkbox-custom:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb; }

pre > code {
  background-color: #efefef; }

html {
  -webkit-font-smoothing: antialiased; }

/* only if background darker than font */
.highlighter-rouge {
  background: #efefef;
  color: #707070;
  padding: 0.2em;
  border-radius: 2px;
  font-family: Monaco, Menlo, Consolas, "Courier- New", monospace; }

pre.highlight {
  overflow: auto; }

.highlighter-rouge > code {
  color: #4a80bc; }

.highlighter-rouge .hll {
  background-color: #70c0b1; }

.highlighter-rouge.lineno {
  background-color: #f3f3f3;
  color: #4a80bc; }

/* $- Generics $- */
.highlighter-rouget .ge {
  font-style: italic; }

/* emph */
.highlighter-rouge .gs {
  font-weight: bold; }

/* strong */
/* $- Operators $- */
.highlighter-rouge .o {
  color: #70c0b1; }

/* Operator */
.highlighter-rouge .ow {
  color: #70c0b1; }

/* Word */
/* $- Comments $- */
.highlighter-rouge .c {
  color: #969896;
  font-style: italic; }

/* Comment */
.highlighter-rouge .cm {
  color: #969896;
  font-style: italic; }

/* Multi-line */
.highlighter-rouge .cp {
  color: #969896;
  font-style: italic; }

/* Preproc */
.highlighter-rouge .c1 {
  color: #969896;
  font-style: italic; }

/* Single */
.highlighter-rouge .cs {
  color: #969896;
  font-style: italic; }

/* Special */
/* $- Names $- */
.highlighter-rouge .n {
  color: #707070; }

/* Name */
.highlighter-rouge .py {
  color: #707070; }

/* Property */
.highlighter-rouge .nl {
  color: #707070; }

/* Label */
.highlighter-rouge .ni {
  color: #707070; }

/* Entity */
.highlighter-rouge .nb {
  color: #707070; }

/* Builtin */
/* shell commands */
.highlighter-rouge .bp {
  color: #707070; }

/* Builtin.Pseudo */
.highlighter-rouge .nf {
  color: #4a80bc; }

/* Function */
.highlighter-rouge .na {
  color: #4a80bc; }

/* Attribute */
.highlighter-rouge .nx {
  color: #4a80bc; }

/* Other */
.highlighter-rouge .nc {
  color: #e7c547; }

/* Class */
.highlighter-rouge .nn {
  color: #e7c547; }

/* Namespace */
.highlighter-rouge .no {
  color: #d54e53; }

/* Constant */
.highlighter-rouge .ne {
  color: #d54e53; }

/* Exception */
.highlighter-rouge .nd {
  color: #70c0b1; }

/* Decorator */
.highlighter-rouge .nt {
  color: #70c0b1; }

/* Tag */
/* $- Keywords $- */
.highlighter-rouge .kn {
  color: #70c0b1; }

/* Namespace */
.highlighter-rouge .k {
  color: #c397d8; }

/* Keyword */
.highlighter-rouge .kc {
  color: #c397d8; }

/* Constant */
.highlighter-rouge .kd {
  color: #c397d8; }

/* Declaration */
.highlighter-rouge .kp {
  color: #c397d8; }

/* Pseudo */
.highlighter-rouge .kr {
  color: #c397d8; }

/* Reserved */
.highlighter-rouge .kt {
  color: #e7c547; }

/* Type */
/* $- Variables $- */
.highlighter-rouge .nv {
  color: #d54e53; }

/* Variable */
.highlighter-rouge .vc {
  color: #d54e53; }

/* Class */
.highlighter-rouge .vg {
  color: #d54e53; }

/* Global */
.highlighter-rouge .vi {
  color: #d54e53; }

/* Instance */
/* $- Numerals $- */
.highlighter-rouge .m {
  color: #e78c45; }

/* Number */
.highlighter-rouge .il {
  color: #e78c45; }

/* Long */
.highlighter-rouge .mf {
  color: #e78c45; }

/* Float */
.highlighter-rouge .mh {
  color: #e78c45; }

/* Hex */
.highlighter-rouge .mi {
  color: #e78c45; }

/* Integer */
.highlighter-rouge .mo {
  color: #e78c45; }

/* Oct */
/* $- Strings $- */
.highlighter-rouge .s {
  color: #4abc7d; }

/* String */
.highlighter-rouge .sr {
  color: #4abc7d; }

/* Regex */
.highlighter-rouge .sb {
  color: #4abc7d; }

/* Backtick */
.highlighter-rouge .s2 {
  color: #4abc7d; }

/* Double */
.highlighter-rouge .sh {
  color: #4abc7d; }

/* Heredoc */
.highlighter-rouge .sx {
  color: #4abc7d; }

/* Other */
.highlighter-rouge .s1 {
  color: #4abc7d; }

/* Single */
.highlighter-rouge .ss {
  color: #4abc7d; }

/* Symbol */
.highlighter-rouge .se {
  color: #e78c45; }

/* Escape */
.highlighter-rouge .si {
  color: #e78c45; }

/* Interpol */
.highlighter-rouge .sc {
  color: #707070; }

/* Char */
.highlighter-rouge .sd {
  color: #969896; }

/* Doc */
/* $- Other Literals $- */
.highlighter-rouge .l {
  color: #e78c45; }

/* Literal */
.highlighter-rouge .ld {
  color: #4abc7d; }

/* Date */
/* $- Typographic Elements $- */
.highlighter-rouge .p {
  color: #707070; }

/* Punctuation */
.highlighter-rouge .w {
  color: #707070; }

/* Whitespace */
/* shouldn't this have a background-color instead ? */
/* $- Others $- */
.highlighter-rouge .err {
  color: #d54e53; }

/* Error */
.highlighter-rouge .gp {
  color: #e7c547; }

/* shell prompt */
/* $- Style $- */
.highlighter-rouge .gi {
  color: #4abc7d; }

/* inserted */
.highlighter-rouge .gd {
  color: #d54e53; }

/* deleted */
.highlighter-rouge .gh {
  color: #707070;
  font-weight: bold; }

/* heading */
.highlighter-rouge .gu {
  color: #70c0b1;
  font-weight: bold; }

/* subheading */
.highlighter-rouge.language-shell {
  background: #111D24;
  color: #fff; }
  .highlighter-rouge.language-shell .nb, .highlighter-rouge.language-shell .s2, .highlighter-rouge.language-shell .s {
    color: #fff; }
  .highlighter-rouge.language-shell pre > code {
    background-color: #111D24; }

.highlighter-rouge.language-elixir {
  /* Single */ }
  .highlighter-rouge.language-elixir .c1 {
    color: #000;
    font-style: normal; }

/*Struct*/
.content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }
  .content img {
    max-width: 100%; }

.main-header {
  border-bottom: 1px solid #DBDBDB;
  position: fixed;
  height: 60px;
  background-color: #FFF;
  width: 100%;
  z-index: 3; }
  .main-header .logo .pictogram {
    position: absolute;
    left: 15px; }
  .main-header .logo .lettering {
    display: none; }
  .main-header .menu {
    max-height: 0;
    width: 100%;
    transition: max-height .2s ease-out;
    background: #FFF;
    top: 60px;
    clear: both;
    overflow: hidden; }
    .main-header .menu li {
      text-align: center;
      padding: 0.7em;
      list-style-type: none;
      text-transform: uppercase; }
      .main-header .menu li a {
        text-decoration: none; }
      .main-header .menu li.emph {
        font-weight: bold; }
        .main-header .menu li.emph a {
          color: #D93232; }
  .main-header .menu-icon {
    float: right;
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none; }
    .main-header .menu-icon .navicon {
      background: #000;
      display: block;
      height: 1px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px; }
      .main-header .menu-icon .navicon::before, .main-header .menu-icon .navicon::after {
        background: #000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%; }
      .main-header .menu-icon .navicon::before {
        top: 5px; }
      .main-header .menu-icon .navicon::after {
        top: -5px; }
  .main-header .menu-btn {
    display: none; }
  .main-header .menu-btn:checked ~ .menu {
    max-height: 240px; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    background: #D93232; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    background: #D93232; }
  .main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0; }
  @media only screen and (min-width: 768px) {
    .main-header .logo .lettering {
      display: block;
      position: absolute;
      top: 20px;
      left: 105px; } }
  @media only screen and (min-width: 992px) {
    .main-header .content {
      justify-content: space-between;
      display: flex;
      position: relative; }
      .main-header .content .menu {
        align-self: flex-end;
        max-height: none;
        width: auto;
        display: block;
        display: flex;
        margin-right: 15px;
        background: none; }
        .main-header .content .menu li {
          text-align: right;
          padding: 1em 0.3em; }
      .main-header .content .menu-icon {
        display: none; } }

.title-header {
  padding: 7em 1em 3em 1em;
  text-align: center; }
  .title-header img {
    max-width: 100%; }
  .title-header .header-content {
    max-width: 1200px;
    margin: 0 auto; }
  .title-header h1 {
    font-weight: 300;
    color: #D93232;
    color: #000;
    font-size: 3.8em;
    font-family: 'Barlow Condensed', sans-serif; }
    .title-header h1 span {
      font-weight: bold; }
      .title-header h1 span strong {
        color: #D93232;
        font-weight: bold; }
  .title-header h2 {
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase; }
  @media only screen and (min-width: 992px) {
    .title-header {
      padding: 8em 1em 6em 1em; }
      .title-header h1 {
        font-size: 10.8em;
        line-height: 0.58em; }
      .title-header h2 {
        font-size: 1.2em; } }

.main-footer {
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 3em;
  font-size: 0.8em; }
  .main-footer a {
    color: #FFF !important; }

.social-link {
  display: flex;
  justify-content: center; }
  .social-link li {
    list-style: none;
    margin-left: 0;
    padding: 1em; }
    .social-link li .svg-ico svg {
      width: 30px;
      height: 30px; }

.post-tag-style, .post .post-header .post-tag, .post-card .post-tag {
  font-size: 1.1em;
  color: #D93232; }
  .post-tag-style a, .post .post-header .post-tag a, .post-card .post-tag a {
    text-decoration: none;
    color: #D93232; }
    .post-tag-style a:hover, .post .post-header .post-tag a:hover, .post-card .post-tag a:hover {
      text-decoration: underline; }

.post-title-style, .post .post-header .post-title-container .post-title {
  font-weight: 800;
  line-height: 1.2em; }

.post-subtitle-style, .post .post-header .post-title-container .post-subtitle {
  font-weight: 300;
  line-height: 1.2em; }

.post .authors, .post-card .authors {
  display: flex;
  justify-content: center; }

.post {
  padding: 6em 1em 3em 1em; }
  .post .post-header {
    padding-bottom: 2em;
    text-align: center; }
    .post .post-header .post-title-container {
      margin-bottom: 1em; }
      .post .post-header .post-title-container .post-subtitle {
        font-size: 1.3em; }
    .post .post-header .post-author {
      margin: 0.2em; }
      .post .post-header .post-author .post-author-image {
        max-width: 30px;
        height: auto; }
      .post .post-header .post-author .post-author-name {
        font-weight: 300;
        font-size: 1em; }
        @media only screen and (min-width: 768px) {
          .post .post-header .post-author .post-author-name {
            font-size: 0.9em; } }
    .post .post-header .post-date {
      font-size: 1em; }
      @media only screen and (min-width: 768px) {
        .post .post-header .post-date {
          font-size: 0.7em; } }
  .post .post-image {
    height: 330px;
    width: 90%;
    margin: 0 auto;
    /*margin-top: 0 !important;*/
    margin-bottom: 2em;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative; }
    .post .post-image:after {
      /*content:" ";
      position: absolute;
      width: 100%;
      height: $height; 
      background-color: rgba(0, 0, 0, 0.4);
      //background-image: url('/assets/images/filigrana.png');
      background-position: top left ;*/
      border-radius: 5px; }
  .post .post-content {
    max-width: 685px;
    width: 90%;
    margin: 0 auto; }
    .post .post-content .post-intro {
      border-left: 10px solid #D93232;
      font-size: 16px;
      line-height: 1.8em;
      color: #333;
      font-weight: 300;
      padding-left: 1em;
      margin-bottom: 2em; }
      .post .post-content .post-intro a {
        color: #D93232; }
    .post .post-content .example {
      border-left: 10px solid #Efefef;
      padding-left: 1em;
      font-style: italic;
      line-height: 1.1em;
      font-size: 17px;
      margin: 1em; }
    .post .post-content .post-promo {
      align-items: center;
      background: #efefef;
      padding: 2em;
      margin: 1em;
      border-radius: 2px; }
      .post .post-content .post-promo img {
        max-width: 90%; }
      @media only screen and (min-width: 992px) {
        .post .post-content .post-promo {
          display: flex;
          align-items: center; }
          .post .post-content .post-promo img {
            max-width: 300px; } }
    .post .post-content .post-book {
      border-top: 1px solid #ccc;
      padding: 1em 0.5em 0em 0.5em;
      margin: 1em 0; }
      .post .post-content .post-book .cover {
        margin-bottom: 1em;
        text-align: center; }
      .post .post-content .post-book h5 {
        font-weight: 200; }
      .post .post-content .post-book p.ref {
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 0.8em;
        margin: 0.5em 0; }
      .post .post-content .post-book img {
        max-width: 200px; }
      @media only screen and (min-width: 992px) {
        .post .post-content .post-book {
          padding: 2em 0.5em 0 0.5em;
          margin: 2em 0;
          display: flex; }
          .post .post-content .post-book .cover {
            margin-right: 2em; } }
    .post .post-content table {
      margin-bottom: 1em; }
      .post .post-content table th, .post .post-content table td {
        display: block;
        padding: 0.5em;
        border-bottom: 1px solid #ccc; }
        @media only screen and (min-width: 768px) {
          .post .post-content table th, .post .post-content table td {
            display: table-cell; } }
  @media only screen and (min-width: 768px) {
    .post {
      padding: 7em 1em 3em 1em; }
      .post .post-header .post-tag, .post .post-header .post-title-container, .post .post-header .post-author {
        margin-bottom: 0.5em; }
      .post .post-header .post-title-container {
        margin-bottom: 1.5em; }
        .post .post-header .post-title-container .post-subtitle {
          font-size: 1.6em; } }
  @media only screen and (min-width: 992px) {
    .post .post-header {
      padding-bottom: 3em; }
      .post .post-header .post-tag, .post .post-header .post-author {
        margin-bottom: 1em; }
      .post .post-header .post-tag {
        font-size: 1em; }
      .post .post-header .post-title-container {
        margin-bottom: 1.5em; }
        .post .post-header .post-title-container .post-title {
          font-size: 2.5em; }
        .post .post-header .post-title-container .post-subtitle {
          font-size: 1.8em; }
      .post .post-header .post-author .post-author-image {
        max-width: 60px; }
    .post .post-image {
      margin-bottom: 3em; } }

.row-images {
  display: block; }
  @media only screen and (min-width: 768px) {
    .row-images {
      display: flex;
      justify-content: space-around; }
      .row-images div {
        text-align: center; }
        .row-images div img {
          max-width: 90%;
          height: auto; } }

.rwd-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative; }

.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.related-posts {
  margin: 2em 0; }
  .related-posts h4 {
    font-weight: 300;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #D93232;
    margin-bottom: 0.8em; }

.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.post-card {
  flex: 1 1 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff center center;
  background-size: cover;
  border-radius: 0px;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease; }
  .post-card :after {
    content: '';
    min-height: inherit;
    font-size: 0; }

.post-card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0); }

.post-card {
  display: flex;
  flex-direction: column; }
  .post-card .post-image-link {
    height: 200px; }
    .post-card .post-image-link .post-image {
      margin: 0;
      background-size: cover;
      height: 200px;
      position: relative;
      background-position: center; }
  .post-card .post-card-content {
    text-align: center;
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .post-card .post-tag {
    margin-bottom: 0.8em; }
  .post-card .post-title {
    font-size: 1.6em;
    margin-bottom: 0.8em; }
  .post-card .post-excerpt p {
    font-size: 1em;
    line-height: 1.3em; }
    @media only screen and (min-width: 480px) {
      .post-card .post-excerpt p {
        font-size: 0.9em;
        line-height: 1.1em; } }
  .post-card .post-author {
    border-top: 1px solid #D93232;
    padding: 1em 0;
    margin: 0 1.2em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .post-card .post-author .post-author-image {
      max-height: 30px;
      border-radius: 30px;
      border: 1px solid #7D7D7D;
      margin-right: 0.8em; }
    .post-card .post-author .post-author-name {
      text-transform: uppercase;
      font-size: 0.7em; }

@media only screen and (min-width: 992px) {
  .home-template .post-feed .post-card:nth-child(6n+1) {
    flex: 1 1 100%; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link {
    height: 350px;
    position: relative;
    flex: 1 1 auto; }
    .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link .post-image {
      height: 350px; }
      .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link .post-image:after {
        /*content:" ";
        position: absolute;
        width: 100%;
        height: $height; 
        background-color: rgba(0, 0, 0, 0.4);
        //background-image: url('/assets/images/filigrana.png');
        background-position: top left ;*/ }

  .home-template .post-feed .post-card:nth-child(6n+1) h1 {
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.2em; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-excerpt {
    max-width: 658px;
    margin: 0 auto; }

  .home-template .post-feed .post-card:nth-child(6n+1) p {
    font-size: 1.2em;
    line-height: 1.55em; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-author {
    flex-direction: column;
    padding-bottom: 2em; }
    .home-template .post-feed .post-card:nth-child(6n+1) .post-author .post-author-image {
      margin-right: 0 !important; } }
.archive-post-feed {
  max-width: 685px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em; }
  .archive-post-feed li {
    display: flex;
    margin-bottom: 0.5em; }
    .archive-post-feed li .archive-post-date {
      color: #D93232;
      padding-right: 1em;
      min-width: 6em; }

.single-author {
  padding-top: 2em; }
  @media only screen and (min-width: 768px) {
    .single-author {
      padding-top: 6em;
      margin: 0 auto; } }
  .single-author .author {
    text-align: center;
    padding: 0 1em; }
    @media only screen and (min-width: 768px) {
      .single-author .author .au_photo {
        min-width: 22%;
        max-width: 22%; } }
    .single-author .author .au_photo img {
      max-width: 60%; }
      @media only screen and (min-width: 768px) {
        .single-author .author .au_photo img {
          max-width: 100%; } }
    .single-author .author .au_name {
      font-weight: 200;
      color: #D93232; }
    .single-author .author .au_position {
      font-size: 0.8em;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding-bottom: 1em; }
    .single-author .author .author-info {
      border-bottom: 1px solid #D93232; }
      @media only screen and (min-width: 768px) {
        .single-author .author .author-info {
          display: flex;
          text-align: left; } }
    .single-author .author .au_social .social-link {
      justify-content: left; }
      .single-author .author .au_social .social-link li {
        margin-left: 0; }
        .single-author .author .au_social .social-link li .svg-ico svg, .single-author .author .au_social .social-link li .svg-ico g, .single-author .author .au_social .social-link li .svg-ico defs, .single-author .author .au_social .social-link li .svg-ico path {
          fill: #000; }
        .single-author .author .au_social .social-link li:hover .svg-ico svg, .single-author .author .au_social .social-link li:hover .svg-ico g, .single-author .author .au_social .social-link li:hover .svg-ico defs, .single-author .author .au_social .social-link li:hover .svg-ico path {
          fill: #D93232; }
    .single-author .author .post-list {
      padding: 2em 0; }
      .single-author .author .post-list h2 {
        margin-bottom: 2em;
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #666; }
    .single-author .author .footer {
      margin: 2em 0 4em 0; }

section.newsletter {
  background: #f9f9f9;
  padding: 2em 2em;
  text-align: center;
  /*  .mc-field-group.input-group{
        text-align: left;
        strong{ text-transform: uppercase; font-size: 12px; letter-spacing: 1px;}
        ul{
            li{ list-style-type: none; margin-left: 0;}
        }
        margin-bottom: 1.1em;
    }
    .privacy-disclaimer{ font-size: 12px; margin-top: 0.8em;
        @media only screen and (min-width:  480px){ text-align: left;} 
        @media only screen and (min-width:  992px){ margin-top: -3.8em;}
    }*/ }
  section.newsletter .label-email {
    display: none; }
  section.newsletter input[type="email"] {
    width: 88%;
    margin-bottom: 0.8em; }
  section.newsletter input[type="submit"] {
    width: 100%; }
  section.newsletter .content .nl {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1em; }
    section.newsletter .content .nl img {
      max-width: 100px;
      height: auto;
      margin-right: 15px; }
    section.newsletter .content .nl .description {
      margin-right: 15px;
      flex: 1; }
      section.newsletter .content .nl .description p {
        font-size: 0.8em; }
    section.newsletter .content .nl.scrivere-software {
      border-bottom: 1px solid #ccc; }
  @media only screen and (min-width: 992px) {
    section.newsletter .content {
      display: flex;
      justify-content: space-between; }
      section.newsletter .content .nl {
        width: 48%;
        padding: 0;
        flex-direction: row;
        text-align: left; }
        section.newsletter .content .nl img {
          max-height: 60px;
          width: auto; }
        section.newsletter .content .nl.scrivere-software {
          border-bottom: 0; } }

#mc_embed_signup div {
  /*border: 1px solid red;*/ }
@media only screen and (min-width: 480px) {
  #mc_embed_signup #mc_embed_signup_scroll {
    text-align: left;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #mc_embed_signup #mc_embed_signup_scroll .email-group, #mc_embed_signup #mc_embed_signup_scroll .mc-field-group.input-group {
      width: 60%; }
    #mc_embed_signup #mc_embed_signup_scroll .email-group input {
      width: 93%; } }
@media only screen and (min-width: 992px) {
  #mc_embed_signup #mc_embed_signup_scroll .email-group, #mc_embed_signup #mc_embed_signup_scroll .mc-field-group.input-group {
    width: auto; }
  #mc_embed_signup #mc_embed_signup_scroll ul {
    display: flex; }
    #mc_embed_signup #mc_embed_signup_scroll ul li {
      margin-right: 0.8em; }
  #mc_embed_signup #mc_embed_signup_scroll .email-group {
    flex: 1;
    margin: 0 0.8em; }
  #mc_embed_signup #mc_embed_signup_scroll h3 {
    align-self: flex-start;
    padding-top: 0.5em; } }

.single-category {
  padding-top: 2em; }
  @media only screen and (min-width: 768px) {
    .single-category {
      padding-top: 6em;
      margin: 0 auto; } }
  .single-category .page-title {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: #D93232; }
  .single-category .page-content {
    text-align: center; }
  .single-category .post-list {
    padding: 2em 0; }

.events-intro,
.event-link-archive {
  text-align: center; }

/*stili comuni*/
.event-card .event-title,
.single-event .event-title {
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .event-card .event-title a,
  .single-event .event-title a {
    color: #D93232;
    text-decoration: none; }
.event-card .talk-title,
.single-event .talk-title {
  font-size: 1.6em; }
  @media only screen and (min-width: 992px) {
    .event-card .talk-title,
    .single-event .talk-title {
      font-weight: 600;
      font-size: 2.5em; } }
.event-card .event-author,
.single-event .event-author {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 992px) {
    .event-card .event-author,
    .single-event .event-author {
      flex-direction: row; } }
.event-card .event-author-image,
.single-event .event-author-image {
  max-width: 60px;
  flex: 1;
  margin: 0.5em 0;
  height: auto; }
  @media only screen and (min-width: 992px) {
    .event-card .event-author-image,
    .single-event .event-author-image {
      margin-right: 0.4em; }
      .event-card .event-author-image mimg,
      .single-event .event-author-image mimg {
        border: 1px solid #ccc; } }
.event-card .event-author-name,
.single-event .event-author-name {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif; }
  .event-card .event-author-name a,
  .single-event .event-author-name a {
    color: #000; }
  @media only screen and (min-width: 768px) {
    .event-card .event-author-name,
    .single-event .event-author-name {
      font-size: 1.2em; } }

.event-link-archive {
  text-transform: uppercase;
  font-size: 1em;
  margin: 2em; }

.title-header.events {
  padding-bottom: 2em; }
  .title-header.events .title-header h1 {
    letter-spacing: -2px; }
    @media only screen and (min-width: 992px) {
      .title-header.events .title-header h1 {
        letter-spacing: 0; } }
  .title-header.events p.emph {
    font-size: 1.0em; }
    @media only screen and (min-width: 992px) {
      .title-header.events p.emph {
        font-size: 1.7em;
        line-height: 1.2em; } }

.site-main.events .section-title {
  color: #D93232;
  text-align: center;
  margin: 2em 0; }

.event-card {
  border: 1px solid #efefef;
  margin: 20px 40px;
  width: 100%;
  padding: 1em;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;
  text-align: center; }
  .event-card--fake {
    border: none;
    box-shadow: none; }
    .event-card--fake:hover {
      border: none;
      box-shadow: none; }
  .event-card .event-image {
    margin: 0; }
    .event-card .event-image img {
      max-width: 100%; }
  .event-card .event-footer {
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .event-card .event-footer .event-info {
      font-family: "Barlow Condensed", sans-serif;
      margin: 0.5em 0; }
      .event-card .event-footer .event-info span {
        display: block; }
      .event-card .event-footer .event-info a {
        text-decoration: none; }
      .event-card .event-footer .event-info .event-location {
        font-weight: bold;
        text-transform: capitalize;
        color: #D93232; }
  .event-card .event-card-content {
    padding: 1em; }

@media only screen and (min-width: 992px) {
  .events-list.future .event-card {
    margin: 20px 0px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center; }
    .events-list.future .event-card .event-image img {
      max-width: 250px; }
    .events-list.future .event-card .event-footer {
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid #D93232;
      padding-top: 0.8em;
      margin-top: 1em; }
      .events-list.future .event-card .event-footer .event-info {
        text-align: right;
        font-size: 1.2em; }
    .events-list.future .event-card .event-card-content {
      text-align: left;
      padding: 2em;
      flex: 1; } }

@media only screen and (min-width: 768px) {
  .events-list.past .post-feed {
    display: flex;
    justify-content: space-between; }
  .events-list.past .event-card {
    margin: 1%;
    min-width: 265px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 265px; }
    .events-list.past .event-card .talk-title {
      font-size: 1.3em; }
    .events-list.past .event-card .event-author {
      flex-direction: column; }
      .events-list.past .event-card .event-author .event-author-name {
        font-size: 0.8em; }
    .events-list.past .event-card .event-card-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between; } }

.event-card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0); }

.single-event {
  padding-top: 4em;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .single-event {
      padding-top: 6em;
      margin: 0 auto; } }
  .single-event .event-container {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .single-event .event-container {
        flex-direction: row; } }
    .single-event .event-container aside {
      margin: 1em;
      padding: 1em 1em 1.5em 1em;
      background: #D93232;
      color: #FFF;
      text-align: center; }
      .single-event .event-container aside h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0.2em;
        margin-top: 0.5em; }
      .single-event .event-container aside p {
        font-size: 0.8em;
        margin-bottom: 0.2em; }
      .single-event .event-container aside .event-image {
        display: none; }
        @media only screen and (min-width: 768px) {
          .single-event .event-container aside .event-image {
            margin: 0;
            display: block; } }
      @media only screen and (min-width: 768px) {
        .single-event .event-container aside {
          max-width: 250px; } }
    .single-event .event-container .event-content {
      padding: 1.5em;
      margin-bottom: 2em; }
      .single-event .event-container .event-content .event-author-image {
        max-width: 30px; }
      .single-event .event-container .event-content .event-author-name {
        font-size: 1em; }
      .single-event .event-container .event-content .event-card-content-intro {
        text-align: center; }
        @media only screen and (min-width: 768px) {
          .single-event .event-container .event-content .event-card-content-intro {
            text-align: left; } }
        .single-event .event-container .event-content .event-card-content-intro .talk-title {
          font-weight: bold; }
          @media only screen and (min-width: 768px) {
            .single-event .event-container .event-content .event-card-content-intro .talk-title {
              font-size: 3.5em; } }
        @media only screen and (min-width: 768px) {
          .single-event .event-container .event-content .event-card-content-intro {
            border-bottom: 1px solid #D93232;
            padding-bottom: 3em;
            margin-bottom: 3em; }
            .single-event .event-container .event-content .event-card-content-intro .event-image {
              display: none; } }
      .single-event .event-container .event-content .video {
        background: #efefef;
        padding: 1em;
        margin: 2em 0; }
        @media only screen and (min-width: 768px) {
          .single-event .event-container .event-content .video {
            padding: 3em; } }
  .single-event .related-post h4 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em; }

.archive-event-feed .event-item {
  margin-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef; }
  .archive-event-feed .event-item .event-date-time a {
    text-decoration: none; }
  .archive-event-feed .event-item .event-title {
    display: block;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
    .archive-event-feed .event-item .event-title a {
      text-decoration: none;
      color: #D93232; }
  .archive-event-feed .event-item .talk-title {
    font-weight: bold;
    display: block; }
  @media only screen and (min-width: 768px) {
    .archive-event-feed .event-item {
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      padding-top: 1em; }
      .archive-event-feed .event-item .event-date-time {
        width: 20%; }
      .archive-event-feed .event-item .event-title {
        width: 30%; }
      .archive-event-feed .event-item .talk-title {
        width: 50%; } }

.jobs-banner {
  display: flex;
  align-items: center;
  background: #D93232;
  color: #FFF;
  padding: 1em;
  margin-top: 2.5em; }
  .jobs-banner p {
    padding-left: 20px; }
    .jobs-banner p a {
      color: #FFF; }

nav.pagination {
  text-align: center;
  font-variant: small-caps;
  margin: 2em; }
  nav.pagination a {
    color: #D93232;
    text-decoration: underline;
    font-variant: none;
    font-size: 0.8em;
    padding: 0 0.8em; }

#cookies-eu-banner {
  background: #D93232;
  color: #FFF;
  text-align: center;
  display: block;
  position: fixed;
  z-index: 999;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 2em; }
  #cookies-eu-banner button {
    background: #FFF;
    color: #D93232;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #FFF;
    padding: 0.3em; }

/*# sourceMappingURL=main.css.map */
