* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none; }

code, kbd, samp, pre, tt, var, textarea, input, select, isindex {
  font: inherit;
  font-size: 1em; }

dfn, i, cite, var, address, em {
  font-style: normal; }

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td, center {
  text-align: left;
  vertical-align: top; }

q {
  quotes: "" ""; }

ul, ol {
  list-style: none; }

sub, sup {
  vertical-align: baseline; }

a {
  color: inherit; }

hr {
  display: none; }

/* we don't need a visual hr in layout */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important; }

/* disables some nasty font attributes in standard browsers */
/* MAIN TYPOGRAPHY */
strong, th, thead td, h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

cite, em, dfn {
  font-style: italic; }

code, kbd, samp, pre, tt, var {
  font-size: 90%;
  font-family: monaco, "Lucida Console", courier, mono-space; }

del {
  text-decoration: line-through;
  color: #666; }

ins, dfn {
  border-bottom: 1px solid #ccc; }

small, sup, sub {
  font-size: 85%; }

abbr, acronym {
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: .1em; }

a abbr, a acronym {
  border: none; }

abbr[title], acronym[title], dfn[title] {
  cursor: help;
  border-bottom: 1px solid #ccc; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

article, footer {
  margin: 0;
  padding: 0; }

/*end RESET*/
/* helper*/
.main-header {
  border-top: 3px solid back; }

@media only screen and (min-width: 480px) {
  .main-header {
    border-top: 3px solid lightseagreen; } }
@media only screen and (min-width: 768px) {
  .main-header {
    border-top: 3px solid red; } }
@media only screen and (min-width: 992px) {
  .main-header {
    border-top: 3px solid green; } }
@media only screen and (min-width: 1200px) {
  .main-header {
    border-top: 3px solid yellow; } }
@media only screen and (min-width: 1600px) {
  .main-header {
    border-top: 3px solid magenta; } }
/*colorset*/
/*typography vars*/
body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
  color: #000; }

h1 {
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.3em;
  font-size: 2em; }
  h1 a {
    color: #000;
    text-decoration: none; }

h2 {
  margin-bottom: 0.2em;
  line-height: 1.3em;
  font-size: 1.7em; }

h3 {
  margin-bottom: 0.2em;
  line-height: 1.3em;
  font-size: 1.5em;
  font-weight: lighter; }

h4 {
  margin-bottom: 0.5em;
  line-height: 1.1em;
  font-size: 1.3em;
  font-weight: 600; }

h5 {
  font-size: 12px;
  font-weight: 600; }

hr {
  display: block;
  border: 0;
  border-bottom: 1px solid #232323;
  margin-bottom: 0.8em; }

img {
  display: inline-block; }

strong {
  font-weight: 600i; }

em {
  font-style: italic;
  font-size: 1.05em; }

p, li, address {
  font-size: 1em;
  line-height: 1.35em; }

p.emph {
  font-size: 1.7em;
  line-height: 1.2em; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

p, ul, ol, address {
  margin-bottom: 0.5em; }

ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 0.3em; }

ul li {
  list-style-type: circle;
  margin-left: 1.5em;
  margin-bottom: 0.3em; }

blockquote {
  margin-left: 2em;
  font-size: 1.8em;
  line-height: 1.5em;
  font-style: italic;
  color: #333333; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  min-width: 100%;
  width: 100%;
  margin: 10px 0; }

@media only screen and (min-width: 768px) {
  .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    margin: 10px;
    padding: 10px; }

  .col-1 {
    max-width: calc(100% / 12); }

  .col-2 {
    max-width: calc(100% / 12 * 2); }

  .col-3 {
    max-width: calc(100% / 12 * 3); }

  .col-4 {
    max-width: calc(100% / 12 * 4); }

  .col-5 {
    max-width: calc(100% / 12 * 5); }

  .col-6 {
    max-width: calc(100% / 2); } }
/*Struct*/
.content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }
  .content img {
    max-width: 100%; }

.main-header {
  border-bottom: 1px solid #DBDBDB;
  position: fixed;
  height: 60px;
  background-color: #FFF;
  width: 100%;
  z-index: 3; }
  .main-header .logo .pictogram {
    position: absolute;
    left: 15px; }
  .main-header .logo .lettering {
    display: none; }
  .main-header .menu {
    max-height: 0;
    width: 100%;
    transition: max-height .2s ease-out;
    background: #FFF;
    top: 60px;
    clear: both;
    overflow: hidden; }
    .main-header .menu li {
      text-align: center;
      padding: 0.7em;
      list-style-type: none;
      text-transform: uppercase; }
      .main-header .menu li a {
        text-decoration: none; }
  .main-header .menu-icon {
    float: right;
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none; }
    .main-header .menu-icon .navicon {
      background: #000;
      display: block;
      height: 1px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px; }
      .main-header .menu-icon .navicon::before, .main-header .menu-icon .navicon::after {
        background: #000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%; }
      .main-header .menu-icon .navicon::before {
        top: 5px; }
      .main-header .menu-icon .navicon::after {
        top: -5px; }
  .main-header .menu-btn {
    display: none; }
  .main-header .menu-btn:checked ~ .menu {
    max-height: 240px; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    background: #D93232; }
  .main-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    background: #D93232; }
  .main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0; }
  @media only screen and (min-width: 768px) {
    .main-header .logo .lettering {
      display: block;
      position: absolute;
      top: 20px;
      left: 105px; } }
  @media only screen and (min-width: 992px) {
    .main-header .content {
      justify-content: space-between;
      display: flex;
      position: relative; }
      .main-header .content .menu {
        align-self: flex-end;
        max-height: none;
        width: auto;
        display: block;
        display: flex;
        margin-right: 15px;
        background: none; }
        .main-header .content .menu li {
          text-align: right;
          padding: 1em 0.3em; }
      .main-header .content .menu-icon {
        display: none; } }

.title-header {
  padding: 7em 1em 3em 1em; }
  .title-header h1 {
    font-weight: bold;
    color: #D93232;
    text-align: center; }
  .title-header h2 {
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    text-align: center; }
  @media only screen and (min-width: 992px) {
    .title-header {
      padding: 8em 1em 3em 1em; }
      .title-header h1 {
        font-size: 3em; }
      .title-header h2 {
        font-size: 1.2em; } }

.main-footer {
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 3em;
  font-size: 0.8em; }
  .main-footer .social-link {
    display: flex;
    justify-content: center; }
    .main-footer .social-link li {
      list-style: none;
      padding: 0.5em; }
      .main-footer .social-link li img {
        max-width: 18px; }

.post-tag-style, .post .post-header .post-tag, .post-card .post-tag {
  font-size: 0.8em; }
  .post-tag-style a, .post .post-header .post-tag a, .post-card .post-tag a {
    text-decoration: none;
    color: #D93232; }

.post-title-style, .post .post-header .post-title {
  font-weight: 800;
  line-height: 1.2em; }

.post {
  padding: 6em 1em 3em 1em; }
  .post .post-header {
    padding-bottom: 2em;
    text-align: center; }
    .post .post-header .post-author .post-author-image {
      max-width: 30px;
      height: auto; }
    .post .post-header .post-author .post-author-name {
      font-weight: 300;
      font-size: 0.9em; }
    .post .post-header .post-date {
      font-size: 0.7em; }
  .post .post-image {
    height: 330px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative; }
    .post .post-image:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 330px;
      background-color: rgba(255, 0, 0, 0.4);
      background-image: url("/assets/images/filigrana.png");
      background-position: top left;
      border-radius: 5px; }
  .post .post-content {
    max-width: 685px;
    width: 90%;
    margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .post {
      padding: 7em 1em 3em 1em; }
      .post .post-header .post-tag, .post .post-header .post-title, .post .post-header .post-author {
        margin-bottom: 0.5em; } }
  @media only screen and (min-width: 992px) {
    .post .post-header {
      padding-bottom: 3em; }
      .post .post-header .post-tag, .post .post-header .post-author {
        margin-bottom: 1em; }
      .post .post-header .post-tag {
        font-size: 1em; }
      .post .post-header .post-title {
        font-size: 2.5em;
        margin-bottom: 1.5em; }
      .post .post-header .post-author .post-author-image {
        max-width: 60px; }
    .post .post-image {
      margin-bottom: 3em; } }

.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap; }

.post-card {
  flex: 1 1 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff center center;
  background-size: cover;
  border-radius: 0px;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease; }

.post-card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0); }

.post-card {
  display: flex;
  flex-direction: column; }
  .post-card .post-image-link {
    height: 200px; }
    .post-card .post-image-link .post-image {
      background-size: cover;
      height: 200px;
      position: relative; }
  .post-card .post-card-content {
    text-align: center;
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .post-card .post-title {
    font-size: 1.3em; }
  .post-card .post-excerpt p {
    font-size: 0.9em;
    line-height: 1.1em; }
  .post-card .post-author {
    border-top: 1px solid #D93232;
    padding: 1em 0;
    margin: 0 1.2em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .post-card .post-author .post-author-image {
      max-height: 30px;
      border-radius: 30px;
      border: 1px solid #7D7D7D;
      margin-right: 0.8em; }
    .post-card .post-author .post-author-name {
      text-transform: uppercase;
      font-size: 0.7em; }

@media only screen and (min-width: 992px) {
  .home-template .post-feed .post-card:nth-child(6n+1) {
    flex: 1 1 100%; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link {
    height: 350px;
    position: relative;
    flex: 1 1 auto; }
    .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link .post-image {
      height: 350px; }
      .home-template .post-feed .post-card:nth-child(6n+1) .post-image-link .post-image:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 350px;
        background-color: rgba(255, 0, 0, 0.4);
        background-image: url("/assets/images/filigrana.png");
        background-position: top left; }

  .home-template .post-feed .post-card:nth-child(6n+1) h1 {
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.2em; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-excerpt {
    max-width: 658px;
    margin: 0 auto; }

  .home-template .post-feed .post-card:nth-child(6n+1) p {
    font-size: 1.2em;
    line-height: 1.55em; }

  .home-template .post-feed .post-card:nth-child(6n+1) .post-author {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 2em; } }
nav.pagination {
  text-align: center;
  font-variant: small-caps;
  margin: 2em; }
  nav.pagination a {
    color: #D93232;
    text-decoration: underline;
    font-variant: none;
    font-size: 0.8em;
    padding: 0 0.8em; }

/*# sourceMappingURL=main.css.map */
