.main-footer{
    background: $main-dark;
    color: $main-light; 
    text-align: center;
    padding: 3em; 
    font-size: 0.8em; 
    
}
.social-link{
    display: flex; justify-content: center;
    li{ list-style: none;
        padding: 0.5em;
       .svg-ico{
           svg{
               width: 30px; height: 30px;
           }
           
       }
    }
}