---
layout: default
---

<main id="site-main" class="site-main outer" role="main">
 

    <article class="authors  ">
        <figure>
            <img src="{{ page.single-picture | relative_url  }}" alt="{{ page.name }}"/>
        </figure>
        <section>
            <h1>{{ page.name }}  </h1>
            <h2>{{ page.position }} - {{location}}</h2>
            
            <cite>{{page.cite}}</cite>

            {{content}}
            <nav>
                <ul>
                    {% if page.twitter %} <li><a href="{{page.twitter}}" target="_blank"><img src="/assets/images/social/twitter.png"/></a></li> {% endif %}
                    {% if page.linkedin  %} <li><a href="{{page.linkedin}}" target="_blank"><img src="/assets/images/social/linkedin.png"/></a></li> {% endif %}
                </ul>
            </nav>

        </section>
    </article>
</main>




