{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
      <meta name="description" content="CodicePlastico's personal blog">
      <meta name="keywords" content="Blog,Elixir,Javascript,Impresa,Programmazione,Coding,Developers">
      <meta name="author" content="CodicePlastico">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% feed_meta %}
      <link href="https://fonts.googleapis.com/css?family=Barlow:300,600i,800&display=swap" rel="stylesheet">
      <link rel="shortcut icon" href="http://blog.codiceplastico.com/assets/images/favicon.ico" />
      <link href="{{ root_url }}/favicon.ico" rel="icon">
      <link href="{{ root_url }}/assets/css/main.css" rel="stylesheet">

   
  </head>
  <body>
  <div id="cookies-eu-banner" style="display: none;">
      By continuing your visit to this site, you accept the use of cookies by Google Analytics to make visits statistics.
      <button id="cookies-eu-reject">Reject</button>
      <button id="cookies-eu-accept">Accept</button>
    </div>


    <header class="main-header">
      <div class="content">
        <div class="logo">
          <a href="/" class=" pictogram"><img src="/assets/images/cp-web-logo.svg" alt="CodicePlastico"></a>
          <a href="/" class=" lettering"><img src="/assets/images/codiceplastico.svg" alt="CodicePlastico"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li> <a href="/">Home</a></li>
            <li><a href="{{ root_url }}/archive.html">Archivio</a></li>
            <li><a href="https://codiceplastico.com">Chi siamo</a></li>
        </ul>
      </div>
    
    </header>
    {% if page.class == 'home-template' %}
      {% include title_header.html %}
    {% endif %}

    
    <section class="container">
      <div class="content"> {{ content }} </div>
      {% if paginator.total_posts > site.paginate %}
        
        {% if page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
      {% endif %} 
    </section>
    
    

    <footer class="main-footer">
      <div id="footer-logo"><img src="/assets/images/logo-footer.svg" alt="logo codiceplastico"></div>
      <p>CodicePlastico - via Branze 45, 25123 Brescia - Tel +39 030 6595241</p>
      <ul class="social-link">
        <li><a href="https://www.facebook.com/CodicePlastico/" target="_blank"><img src="/assets/images/social/facebook.png"/></a></li>
        <li><a href="https://twitter.com/codiceplastico" target="_blank"><img src="/assets/images/social/twitter.png"/></a></li>
        <li><a href="https://www.instagram.com/codice_plastico/" target="_blank"><img src="/assets/images/social/instagram.png"/></a></li>
        <li><a href="https://www.linkedin.com/company/codiceplastico/" target="_blank"><img src="/assets/images/social/linkedin.png"/></a></li>
      </ul>
    </footer>

    <script>
      var domain = "{{ site.url }}";
    </script>
    <script src="/assets/js/cookies.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139599974-1"></script>
    <script>
      new CookiesEuBanner(function(){
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139599974-1');
      }); 
    </script>
    <!-- endbuild -->
  </body>
</html>
