{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
      <meta name="description" content="CodicePlastico's personal blog">
      <meta name="keywords" content="Blog,Elixir,Javascript,Impresa,Programmazione,Coding,Developers">
      <meta name="author" content="CodicePlastico">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% feed_meta %}
      <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i, 500,600i,800&display=swap" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;700&display=swap" rel="stylesheet">
      <link rel="shortcut icon" href="https://blog.codiceplastico.com/assets/images/favicon.ico" />
      <link href="{{ site.url }}/favicon.ico" rel="icon">
      <link href="{{ root_url }}/assets/css/main.css" rel="stylesheet">
      <meta name="google-site-verification" content="sxkGtIrL0EQQjbmddNz8FouZPQC9k4FGdIvy82Edk4c" />
      
      <!-- Twitter cards -->
      <meta name="twitter:site"    content="CodicePlastico - PlasticBlog">
      <meta name="twitter:creator" content="CodicePlastico">
      <meta name="twitter:title"   content="{{ page.title }}">
      <meta name="twitter:description" content="{{ page.excerpt | strip_html | truncatewords: 30, "" }}">
      <!-- end of Twitter cards -->
      <!-- Facebook card -->
      {% if page.url %}
      <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
      {% endif %}
      <meta property="og:type"               content="article" />
      <meta property="og:title"              content="{{ page.title }}" />
      <meta property="og:description"        content="{{ page.excerpt | strip_html | truncatewords: 30, "" }}" />
      <!-- end facebook card-->  
    
      {% if page.socialcover %}
      <meta name="twitter:card"  content="summary_large_image">
      <meta name="twitter:image" content="{{ site.url }}/{{ page.socialcover }}">
      <meta property="og:image"  content="{{ site.url }}/{{ page.socialcover }}" />
      {% else %}
      <meta name="twitter:card"  content="summary_large_image">
      <meta name="twitter:image" content="{{ site.url }}/{{ page.cover }}">
      <meta property="og:image"  content="{{ site.url }}/{{ page.cover }}" />
      {% endif %}
     
      {% if page.layout == 'post' %}
      <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Article",
          "name" : "{{ page.title}}",
         
          {% if page.author.size > 0 %}
          "author" : [ 
            {% for current-author in page.author %}
              {
              "@type" : "Person",
              {% assign author = site.authors | where: 'short_name', current-author | first %}
                {% if author %}
                "name" : "{{ author.name }}"
                {% endif %}
              }
              {% if forloop.last == false %}, {% endif %}
          
            {% endfor %}
        ],
         {% endif %}
          "datePublished" : "{{ page.date }}",
          "image" : "{{ site.url }}/{{ page.socialcover }}",
         
          "url" : "{{ site.url }}/{{ page.slug }}",
          "headline": "{{ page.content | strip_html | truncate: 109, "" }}",
          "publisher" : {
            "@type" : "Organization",
            "name" : "CodicePlastico"
        
          }
        }
      </script>
      {% endif %}

      {% if page.customStyle  %}
        <link href="{{ root_url }}{{page.customStyle}}" rel="stylesheet">
      {% endif %}
  
      {% if page.layout == 'author' %}
      
      <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Person",
          "name": "{{ page.name}}",
          "url": "{{ site.url }}/authors/{{ page.slug }}",
          "image": "{{ site.url }}/{{page.single-picture}}",
          "sameAs": [
            {% if page.linkedin %}            
              "{{page.linkedin}}"
              {% if page.twitter %}, {% endif %}
            {% endif %}
            {% if page.twitter %}            
              "{{page.twitter}}"
            {% endif %}
          ],
          "jobTitle": "{{ page.position}}",
          "worksFor": {
            "@type": "Organization",
            "name": "Codiceplastico"
          }  
        }
        </script>
      {% endif %}

      <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
          "invalidateConsentWithoutLog": true,
          "cookiePolicyInOtherWindow": true,
          "reloadOnConsent": true,
          "lang": "it",
          "siteId": 1900950,
          "perPurposeConsent": true,
          "googleAdditionalConsentMode": true,
          "consentOnContinuedBrowsing": false,
          "enableTcf": true,
          "newConsentAtVendorListUpdate": 0,
          "cookiePolicyId": 96999165,
          "banner": {
            "acceptButtonDisplay": true,
            "customizeButtonDisplay": true,
            "acceptButtonColor": "#d93232",
            "acceptButtonCaptionColor": "white",
            "customizeButtonColor": "#212121",
            "customizeButtonCaptionColor": "white",
            "rejectButtonColor": "#d93232",
            "rejectButtonCaptionColor": "white",
            "position": "float-top-center",
            "textColor": "#060606",
            "backgroundColor": "#ffffff",
            "rejectButtonDisplay": true,
            "closeButtonRejects": true,
            "listPurposes": true,
            "explicitWithdrawal": true
          }
        }
      </script>
      <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
      <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

   <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WBH6523');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBH6523"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <header class="main-header">
      <div class="content">
        <div class="logo">
          <a href="https://codiceplastico.com/" class=" pictogram"><img src="/assets/images/cp-web-logo.svg" alt="CodicePlastico"></a>
          <a href="https://codiceplastico.com/" class=" lettering"><img src="/assets/images/codiceplastico.svg" alt="CodicePlastico"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li> <a href="/">PlasticBlog</a></li>
            <li><a href="{{ root_url }}/events.html">Eventi</a></li>
            <li><a href="{{ root_url }}/archive.html">Archivio</a></li>
            <li class="emph"><a href="http://eepurl.com/g3FY2T" target="_blank">Newsletter</a></li>
        </ul>
      </div>
    
    </header>
    {% if page.class == 'home-template' %}
      {% include title_header.html %}
    {% endif %}

    
    <section class="container">
      <div class="content"> {{ content }} </div>
      {% if paginator.total_posts > site.paginate %}
        
        {% if page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
      {% endif %} 
    </section>

<section class="newsletter">
  <div class="content">
    <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
 
  <form action="https://codiceplastico.us18.list-manage.com/subscribe/post?u=3a6d4d4fc68bc32031e87e865&amp;id=2f6137b5df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h3>Keep in Touch</h3>
  <div class="mc-field-group email-group">
    <label for="mce-EMAIL" class="label-email">Email  <span class="asterisk">*</span>  </label>
    <input type="email" value="" name="EMAIL" class="required email" placeholder="inserisci la tua email" id="mce-EMAIL">
  </div>

  <div class="mc-field-group input-group">
      <strong>Sono interessato a: </strong>
      <ul class="list"><li><input type="checkbox" value="1" name="group[7418][1]" id="mce-group[7418]-7418-0" class="checkbox-custom"><label for="mce-group[7418]-7418-0">Articoli tecnici (dev, sys, how to,...)</label></li>
  <li><input type="checkbox" value="2" name="group[7418][2]" id="mce-group[7418]-7418-1" class="checkbox-custom"><label for="mce-group[7418]-7418-1">IT e gestione</label></li>
  </ul>
  </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3a6d4d4fc68bc32031e87e865_2f6137b5df" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Iscrivimi!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
      <div class="privacy-disclaimer"><p><a href="https://www.iubenda.com/privacy-policy/96999165/legal" target="_blank">Consulta la privacy policy</a></p></div>
  </form>

  </div>
  
  <!--End mc_embed_signup-->



  </div>
</section>    

    <footer class="main-footer">
      <div id="footer-logo"><img src="/assets/images/logo-footer.svg" alt="logo codiceplastico"></div>
      <p>CodicePlastico - via Branze 45, 25123 Brescia - Tel +39 030 6595241 - <a href="https://www.iubenda.com/privacy-policy/96999165/legal" target="_blank">Privacy & Cookies Policy</a></p>
      <ul class="social-link">
        <li><a href="https://www.facebook.com/CodicePlastico/" target="_blank"> {% include ico-facebook.html %}</a></li>
        <li><a href="https://twitter.com/codiceplastico" target="_blank"> {% include ico-twitter.html %}</a></li>
        <li><a href="https://www.instagram.com/codice_plastico/" target="_blank">{% include ico-instagram.html %}</a></li>
        <li><a href="https://www.linkedin.com/company/codiceplastico/" target="_blank">{% include ico-linkedin.html %}</a></li>
        <li><a href="https://www.youtube.com/channel/UCk5VOf_uv67SSUna1sZADyQ" target="_blank">{% include ico-youtube.html %}</a></li>
      </ul>
    </footer>

    <script>
      var domain = "{{ site.url }}";
    </script>
    <script src="/assets/js/cookies.js"></script>
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
      <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3a6d4d4fc68bc32031e87e865/bae2593169a7cec3c34c50e43.js");</script>
  </body>
</html>
