---
layout: default
current: post
class: post-template
---

<main id="site-main" class="site-main outer" role="main">
 

      <article class="post {{ page.subclass }} ">
        <header class="post-header">
          {% if page.tags.size > 0 %}
          <section class="post-tag">
            {% for tag in page.tags %}
                {% if forloop.index == page.tags.size %}
                {{ tag | upcase }}
                   <!--a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | upcase }}</!--a -->
                {% else %}
                {{ tag | upcase }}
                   <!--a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | upcase }}</!--a-->,
                {% endif %}
            {% endfor %}
          </section>
          {% endif %}
          <div class="post-title-container">
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.subtitle %}
              <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
         
        <div class="authors">
  
         
        {% for current-author in page.author %}
        
          {% assign author = site.authors | where: 'short_name', current-author | first %}
          {% if author %}
          <section class="post-author">
            {% if author.picture %}
                <img class="post-author-image" src="{{ site.baseurl }}{{ author.picture }}" alt="{{ author.name }}" />
            {% endif %}
              <h4 class="post-author-name">
                <a href="{{ author.url }}">{{ author.name }}</a>
              </h4>
            </section> 
          {% endif %}
         
        {% endfor %}

        <!-- #author-->
       
      </div>
        <time class="post-date" datetime="{{ page.date | date:'%e %B %Y' }}">{{ page.date | date:'%e %B %Y' }}</time>
        <!-- /author  -->
      </header>

      {% if page.cover %}
      <figure class="post-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
      </figure>
      {% endif %}

      <section class="post-content">
              {{ content }}
      </section>

      </article>
     
</main>
